################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FieldTech/FieldTech.Api/obj
/src/FieldTech/FieldTech.Api/obj
/src/FieldTech/FieldTech.Api/bin/Debug/net6.0
/src/FieldTech/FieldTech.CrossCutting/bin/Debug/net6.0
/src/FieldTech/FieldTech.CrossCutting/obj
/src/FieldTech/FieldTech.Repository/bin/Debug/net6.0
/src/FieldTech/FieldTech.Repository/obj
/src/FieldTech/FieldTech.Domain/bin/Debug/net6.0
/src/FieldTech/FieldTech.Domain/obj
/src/FieldTech/FieldTech.Application/bin/Debug/net6.0
/src/FieldTech/FieldTech.Application/obj
